@font-face {
    font-family: 'Sallita';
    src:url('fonts/Sallita.ttf.woff') format('woff'),
    url('fonts/Sallita.ttf.svg#Sallita') format('svg'),
    url('fonts/Sallita.ttf.eot'),
    url('fonts/Sallita.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothic';
    src: url('fonts/gothic.eot');
    src: local('gothic'), url('fonts/gothic.woff') format('woff'), url('fonts/gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway';
    src: local('raleway'), url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

:root {
    --color-morado: #9f7d9e;
    --color-morado_2: #4b2155;
    --color-rosa: #eb4398;
    --color-rosa_2: #ef3e98;
    --color-cafe: #d1aa73;
    --color-amarillo: #fbba00;
    --font-sallita: 'Sallita';
    --font-gothic: 'gothic';
    --font-raleway: 'raleway';
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    /* change if the mask should have another color then white */
    z-index: 99999;
    /* makes sure it stays on top */
}

#status {
    position: static;
}

#status img{
    width: 100px;
    margin-top: 200px;
}

.uk-container{
    max-width: 1330px;
}

@media (min-width: 960px){
    .uk-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

body{
    background: #eeeeee;
}

.FondoBlanco{
    background: white;
    padding-bottom: 80px;
}
.BarraMenu{
    background: var(--color-morado);
    color: white;
    padding: 5px 0;
    border-bottom: 1px solid white;
    padding-top: 4px;
}
.BarraMenu a{
    background: var(--color-rosa);
    color: white;
    width: 27px;
    height: 27px;
}
.BarraMenu p{
    font-size: 15px;
    margin-top: 3px;
    font-family: var(--font-gothic);
}
.ImgBanner{
    width: 100%;
}
.ImgLogoMenu{
    margin-top: -42px;
    width: 140px;
}
.FondoMenu .uk-navbar-nav{
    margin-top: 12px;
}
.FondoMenu .uk-navbar-nav a{
    color: white;
    font-size: 14px;
    font-family: var(--font-gothic);
    font-weight: 800;
    letter-spacing: 1.5px;
}
.FondoMenu .uk-navbar-nav a:hover{
    color: white;
    border-bottom: 2px solid var(--color-rosa);
}
.FondoMenu .uk-navbar-nav>li.uk-active>a {
    color: white;
    border-bottom: 2px solid var(--color-rosa);
}
.FondoMenu .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 40px;
    padding: 0 20px;
}
.ContenidoBanner img{
    width: 435px;
    margin-top: 71px;
}
.BtnBanner{
    margin-top: 26px;
}
.BtnBanner a{
    color: white;
    background: var(--color-cafe);
    padding: 6px 55px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 247px;
}
.Img_1{
    margin-top: -189px;
    position: relative;
    width: 381px;
}
.Img_2{
    width: 370px;
    margin-top: 15px;
}
.Img_3{
    margin-top: -20px;
    margin-left: 70px;
}
.ContenidoCuadroBlog{
    margin-top: -372px !important;
}
.CuadroMorado{
    width: 570px;
    height: 590px;
    position: relative;
    z-index: 1;
    background: #e197ca;
    float: right;
}
.CuadroNoticia{
    position: relative;
    z-index: 2;
}
.CuadroNoticia h2{
    font-family: var(--font-sallita);
    font-size: 27px;
}
.CuadroNoticia h2 a{
    color: black !important;
}
.CuadroNoticia h3{
    font-family: var(--font-gothic);
    color: var(--color-rosa_2) !important;
    font-size: 15px;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 13px;
    line-height: 19px;
}
.CuadroNoticia p{
    margin-top: 0px;
    font-size: 12px;
    height: 59px;
    font-family: var(--font-raleway);
    line-height: 16px;
    color: #626262;
}
.CuadroNoticia i{
    color: var(--color-rosa_2);
    margin-right: 7px;
    font-size: 14px;
}
.EnlaceVerMas a{
    font-family: var(--font-gothic);
    color: var(--color-rosa_2) !important;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--color-rosa_2);
}
.CuadroNoticia a:hover{
    text-decoration: none;
}
.CuadroNoticia .uk-card-body{
    padding: 3px 23px 6px;
}
.CuadroNoticia .uk-heading-line>::after, .uk-heading-line>::before {
    content: "";
    position: absolute;
    top: calc(50% - ((.2px + .05em)/ 2));
    width: 2000px;
    border-bottom: 2px solid var(--color-rosa_2);
}
.CuadroGrande .uk-heading-line>::after, .uk-heading-line>::before {
    border-bottom: 3px solid var(--color-rosa_2);
}
.TituloCuadro{
    font-family: var(--font-sallita);
    color: var(--color-morado_2);
    font-size: 81px;
    z-index: 1;
    position: relative;
}
.CuadroGrande {
    padding: 70px 44px 24px 44px;
    position: relative;
    z-index: 2;
}
.Categoria a{
    font-size: 27px !important;
}
.CuadroGrande h2{
    font-size: 30px;
    margin-top: 8px;
}
.CuadroGrande p{
    font-size: 15.7px;
    margin-top: 8px;
    line-height: 20px;
    height: 75px;
}
.CuadroGrande a{
    font-size: 13px;
}
.CuadroGrande hr{
    margin-top: 25px !important;
    margin-bottom: 15px;
    border-top: 1px solid #f8e9f0;
}
.CuadroGrande h1{
    text-align: left;
    box-shadow: -16px 0 0 var(--color-rosa_2);
    font-family: var(--font-gothic);
    background: var(--color-rosa_2);
    color: white;
    text-transform: uppercase;
    padding: 7px 31px;
    font-size: 39px;
    display: inline;
    white-space: pre-wrap;
    line-height: 67px;
    padding-left: 0;
}
.AlturaContenido{
    margin-top: -720px;
}
.AlturaFondoMorado{
    margin-top: -60px;
    padding-top: 172px;
    padding-bottom: 150px;
}
.ContenedorArticulos{
    width: 840px
}
.Img_fondo_blanco_1{
    margin-bottom: -322px;
    margin-top: -220px;
    position: relative;
    margin-left: 123px;
    z-index: 2;
}
.Img_fondo_blanco_2{
    margin-top: -58px;
    position: relative;
    z-index: 1;
    margin-left: 3px;
}
.Img_fondo_blanco_3{
    margin-top: -336px;
    width: 575px;
}
.Img_fondo_blanco_4{
    margin-top: -294px;
    margin-left: 266px;
    width: 289px;
    position: relative;
    z-index: 1;
}
.Img_fondo_blanco_5{
    width: 463px;
    margin-top: -164px;
    position: relative;
    margin-right: 37px;
    z-index: 1;
}
.Img_fondo_blanco_6{
    width: 244px;
    margin-top: -316px;
    position: relative;
    z-index: 2;
}
.Img_fondo_blanco_7{
    margin-top: -303px;
}
.LogoEnBlanco{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 455px;
    margin-top: 40px;
    z-index: 1;
}
.CuadroCatalogo h1{
    color: white;
    background: #009997;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    font-family: var(--font-gothic);
    padding: 11px 0px;
    margin-bottom: 0px;
}
.CuadroCatalogo h3{
    font-family: var(--font-sallita);
    color: var(--color-rosa_2);
    margin: 35px 0 0 0;
    font-size: 76px;
    line-height: 58px;
    letter-spacing: 2px;
}
.CuadroCatalogo p{
    font-family: var(--font-gothic);
    font-size: 14px;
    margin-top: 22px;
    padding-right: 89px;
    margin-bottom: 40px;
    line-height: 18px;
}
.CuadroCatalogo a{
    color: white;
    background: var(--color-amarillo);
    border-radius: 30px;
    padding: 6px 25px;
    text-transform: uppercase;
    font-size: 13px;
}
.CuadroCatalogo{
    margin-top: -563px;
    position: relative;
}
.ContenedorCatalogo{
    width: 345px;
    position: relative;
    z-index: 2;
}
.Footer{
    margin-top: -133px;
    position: initial;
}
.Footer h5 {
    color: white;
    text-transform: uppercase;
    font-family: var(--font-gothic);
    margin-bottom: 0;
    margin-top: 35px;
    font-size: 13px;
}
.Footer h4 {
    color: white;
    text-transform: uppercase;
    margin-top: 7px;
    font-size: 15px;
    margin-bottom: 0px;
}
.Footer li {
    color: white;
    font-size: 15px;
}
.Footer li a{
    color: white;
    font-size: 13px;
}
.EnlaceFooter{
    margin-top: 29px;
}
.EnlaceFooter a{
    color: var(--color-amarillo);
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
}
.Footer p{
    margin-top: 4px;
    color: white;
    font-size: 13px;
}
.Footer ul{
    margin-top: 5px;
    margin-left: -12px;
}
.Footer .uk-icon-button{
    background: #eb3794;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.ImgLogoFooter{
    width: 150px;
}
.ImgJean{
    width: 100px;
    margin-top: 55px;
}
.BarraFooter{
    float: right;
    margin-top: -181px;
    height: 155px;
    margin-right: 29px;
}
.BarraFooterAjuste{
    margin-top: -88px;
}
.Terminos{
    text-align: center;
    background: #ea68b2;
}
.Terminos p{
    color: white;
    padding: 9px 0px;
    margin: 0;
    font-size: 11px;
}
.Menu2{
    display: none;
}
.uk-offcanvas-bar{
    background: #ef3e98e6;
}

@media (max-width: 1260px){
    .Img_fondo_blanco_5 {
        width: 363px;
        margin-top: -123px;
    }
    .Img_fondo_blanco_6 {
        width: 208px;
        margin-top: -266px;
    }
    .Img_fondo_blanco_1 {
        margin-bottom: -322px;
        margin-top: -220px;
        margin-left: 123px;
        width: 190px;
    }
    .Img_fondo_blanco_3 {
        margin-top: -261px;
        width: 415px;
    }
    .Img_fondo_blanco_2 {
        margin-top: -58px;
        margin-left: 3px;
        width: 334px;
    }
    .Img_fondo_blanco_4 {
        margin-top: -212px;
        margin-left: 181px;
        width: 229px;
    }
    .Img_fondo_blanco_7 {
        margin-top: -252px;
        width: 200px;
    }
    .CuadroCatalogo {
        margin-top: -520px;
    }
    .AlturaFondoBlanco {
        padding-bottom: 200px;
    }
    .ContenedorCatalogo {
        margin-bottom: 60px;
    }
    .FondoMenu .uk-navbar-nav a{
        text-shadow: 1px 1px 2px #8a8a
    }
    .ContenidoBanner {
        margin-left: 30px;
    }
    .ContenidoBanner a{
        margin-right: 132px;
    }
    .ContenidoBanner img {
        position: relative;
        z-index: 1;
        width: 326px;
    }
    .BtnBanner {
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 1062px){
    .EnlaceRedes{
        padding-left: 0px;
    }
    .FondoMenu .uk-navbar-nav a {
        text-shadow: 1px 1px 2px #414141;
    }
}
@media (max-width: 987px){
    .EnlaceRedes{
        padding-left: 0px;
    }
    .FondoMenu .uk-navbar-nav a {
        text-shadow: 1px 1px 2px #414141;
    }
    .Img_3 {
        width: 82%;
    }
}
@media (max-width: 960px){
    #status img{
        margin-top: 100px;
    }

    .uk-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .EnlaceRedes {
        padding-left: 40px;
        padding-right: 20px;
    }
    .ContenedorArticulos {
        width: 100%;
    }
    .AlturaContenido {
        margin-top: -666px;
    }
    .Img_fondo_blanco_1 {
        margin-bottom: -322px;
        margin-top: -297px;
        margin-left: 104px;
        width: 120px;
    }
    .Img_fondo_blanco_3 {
        margin-top: -161px;
        width: 255px;
    }
    .Img_fondo_blanco_4 {
        margin-top: -120px;
        margin-left: 92px;
        width: 155px;
    }
    .Img_fondo_blanco_6 {
        width: 169px;
        margin-top: -205px;
    }
    .Img_fondo_blanco_5 {
        width: 284px;
        margin-top: -92px;
    }
    .Img_fondo_blanco_2 {
        width: 243px;
    }
    .LogoEnBlanco {
        width: 270px;
    }
    .Img_fondo_blanco_7 {
        margin-top: -510px;
        width: 138px;
    }
    .ContenedorCatalogo {
        margin: 0 auto;
        margin-top: 137px;
    }
    .CuadroCatalogo h1 {
        font-size: 30px;
        padding: 7px 0px;
    }
    .CuadroCatalogo h3 {
        margin: 18px 0 0 0;
        font-size: 56px;
        line-height: 46px;
    }
    .AlturaFondoBlanco {
        padding-bottom: 345px;
        height: 600px;
    }
    .ContenedorCatalogo {
        margin: 0 auto;
        margin-top: -148px;
        margin-bottom: 173px;
    }
    .CuadroCatalogo {
        margin-top: -489px;
    }
    .ContenidoBanner{
        margin-left: 0px;
    }
    .ImgBannerCenter{
        text-align: center !important;
    }
    .ContenidoBanner a {
        margin-right: 0;
    }
    .BtnBanner {
        text-align: center !important;
    }
}

@media (max-width: 884px){
    .Menu1{
        display: none;
    }
    .Menu2{
        display: block;
        position: fixed;
        z-index: 99;
        width: 100%;
    }
    .Menu2 img{
        margin-top: -16px;
        width: 88px;
        margin-bottom: -23px;
    }
    .Menu2 a{
        color: white;
    }
    .Menu2 a:hover{
        color: var(--color-amarillo);
    }
    .Menu2 .uk-navbar-container:not(.uk-navbar-transparent) {
        background: var(--color-rosa_2);
    }
    .ContenidoCuadroBlog {
        margin-top: -220px !important;
    }
}

@media (max-width: 690px){
    .ContenidoBanner img {
        width: 178px;
    }
    .Img_fondo_blanco_5 {
        width: 182px;
        margin-top: -63px;
    }
    .Img_fondo_blanco_6 {
        width: 115px;
        margin-top: -141px;
    }
    .Img_fondo_blanco_1 {
        margin-top: -335px;
        margin-left: 75px;
        width: 91px;
    }
    .Img_fondo_blanco_2 {
        width: 170px;
    }
    .Img_fondo_blanco_3 {
        margin-top: -121px;
        width: 192px;
    }
    .Img_fondo_blanco_4 {
        margin-top: -98px;
        margin-left: 78px;
        width: 114px;
    }
    .LogoEnBlanco {
        width: 200px;
    }
    .Img_3 {
        margin: 0;
    }
}
@media (max-width: 640px){
    .uk-card {
        margin-bottom: 30px !important;
    }
    .uk-card img {
        width: 100%;
    }
    .AlturaFondoMorado {
        padding-top: 65px;
    }
    .ContenedorArticulos {
        text-align: center;
    }
    .BarraFooter{
        display: none;
    }
    .Footer ul {
        margin-top: 5px;
        margin-left: 0px;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .ImgJean {
        margin-top: 29px;
        margin-bottom: 30px !important;
    }
    .CuadroGrande p {
        height: auto;
    }
    .CuadroNoticia p {
        font-size: 14px;
    }
    .CuadroNoticia h3 {
        font-size: 16px;
    }
    .CuadroGrande h1 {
        font-size: 28px;
        line-height: 52px;
    }
    .TituloCuadro {
        font-size: 60px;
    }
    .CuadroNoticia h2 {
        font-size: 30px;
    }
}
@media (max-width: 550px){
    .ContenidoCuadroBlog {
        margin-top: -92px !important;
    }
    .Img_fondo_blanco_1 {
        margin-top: -360px;
        margin-left: 50px;
        width: 56px;
    }
    .Img_fondo_blanco_1 {
        margin-top: -360px;
        margin-left: 50px;
        width: 73px;
    }
    .Img_fondo_blanco_2 {
        width: 136px;
    }
    .Img_fondo_blanco_3 {
        margin-top: -75px;
        width: 143px;
    }
    .Img_fondo_blanco_4 {
        margin-top: -80px;
        margin-left: 48px;
        width: 97px;
    }
    .Img_fondo_blanco_5 {
        width: 126px;
        margin-top: -42px;
    }
    .Img_fondo_blanco_6 {
        width: 87px;
        margin-top: -111px;
    }
    .LogoEnBlanco {
        width: 160px;
    }
    .ContenedorCatalogo {
        margin-top: -254px;
    }
    .ContenidoBanner img {
        width: 135px;
    }
    .BtnBanner a {
        font-size: 11px;
    }
}
/*@media (max-width: 850px){*/
/*}*/